@using Projee.Models
@model List<KargoDetay>

@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}


<br />
@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}


<table class="table table-hover">
    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Takip Numarası</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>

            <td>@k.Personel</td>
            <td>@k.Alici</td>
            <td>@k.Tarih</td>
            <td>@k.TakipKodu</td>
            <td><a href="/CariPanel/CariKargoTakip/@k.TakipKodu" class="btn btn-outline-secondary">Detaylar</a></td>


        </tr>
    }



</table>
<a href="/Kargo/KargoEkle" class="btn btn-primary">Yeni Kargo Girişi</a>





